.currency-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background:rgb(144, 145, 158);
    margin-top: 100px;
    width: 500px;
    height: 250px;
    border-radius: 4px;

}
.header{
    color: white;
    background-color: rgb(131, 131, 150);
    width: 100%;
    text-align: center;
}

.amount{
    width: 100px;
    height: 30px;
    margin-right: 20px;
    border-radius: 4px;
}
.result{
    width: 100px;
    height: 30px;
    border-radius: 4px;
}


.from-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 20px;
    border-radius: 4px;
}

.to-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 20px;
    border-radius: 4px;
}
.items{
    margin-top: 50px;
}
.arrow{
    color: white;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 25px;

}
.button{
    margin-top: 25px;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    
}