.todo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 8px;
    border-bottom: 1px solid rgb(98, 123, 131);
    outline: none;
}

.icons {
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
}

.todo-in {
    width: 400px;
    border: none;
    border-bottom: 1px solid lightblue;
    outline: none;
}